@tailwind base;
@tailwind components;
@tailwind utilities;


.container {
  width: 100%;
  max-width: 1400px;
  margin: 0px auto;
  padding: 0px 15px;
}

@font-face {
  font-family: 'Monsterrat';
  src: url('../assets/Montserrat-Regular.ttf');
}
body {
  font-family: 'Monsterrat';
  font-weight: 400;
}